body{
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: darkgreen;
}

/*height to width ratio of playing card is 3.5 inches to 2.5 inches which is equivalent to 7 to 5*/
/*media size small */
.card{
    position: relative;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 125px;
    height: 175px;
}


@media screen and (max-width: 1500px) {
    .card{
        width: 125px;
        height: 175px;
    }
}
@media screen and (max-width: 1000px) {
    .card{
        /**/
        width: 125px;
        height: 175px;
    }
}
@media screen and (max-width: 700px) {
    .card{
        width: 50px;
        height: 70px;
    }
}
@media screen and (max-width: 480px) {
    .card{
        width: 50px;
        height: 70px;
    }
}
/*inner area for the picture/emblems is 50% the width of the card and 60% the height*/

/*i should really have card rank as a separate parent class and then top and bottom as extra*/
/*better yet, create top, bottom, and middle of card. place rank and suit as subclasses within top and bottom*/
.top, .bottom{
    position: absolute;
    height: 50px;
    width: 25px;
}
.rank{
    /*display: inline-block;*/
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
}
.suit{
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 0;
}
.top{
    top: 2%;
    left: 2%;
}
.bottom{
    bottom: 2%;
    right: 2%;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.middle{
    /*background-color: black;*/
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    height: 75%;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.rank_A {

}
.rank_2 {

}
.rank_3 {

}
.rank_4 {

}
.rank_5 {

}
.rank_6 {

}
.rank_7 {

}
.rank_8 {

}
.rank_9 {

}
.rank_10 {

}
.rank_J {

}
.rank_Q {

}
.rank_K {

}
/*@media screen and (max-height: 450px) {*/

/*}*/
/*@media screen and (max-height: 820px) {*/

/*}*/
/*@media screen and (min-height: 1200px) {*/

/*}*/

