body{
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: darkgreen;
}

/*height to width ratio of playing card is 3.5 inches to 2.5 inches which is equivalent to 7 to 5*/
/*media size small */
.card{
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 125px;
    height: 175px;
}


@media screen and (max-width: 1500px) {
    .card{
        width: 125px;
        height: 175px;
    }
}
@media screen and (max-width: 1000px) {
    .card{
        /**/
        width: 125px;
        height: 175px;
    }
}
@media screen and (max-width: 700px) {
    .card{
        width: 50px;
        height: 70px;
    }
}
@media screen and (max-width: 480px) {
    .card{
        width: 50px;
        height: 70px;
    }
}

.card_number_top{

}
.card_number_bottom{

}
.ace{}
.two{

}
.three{}
.four{}
.five{}
.six{}
.seven{}
.eight{}
.nine{}
.ten{}
.jack{}
.queen{}
.king{}



/*@media screen and (max-height: 450px) {*/

/*}*/
/*@media screen and (max-height: 820px) {*/

/*}*/
/*@media screen and (min-height: 1200px) {*/

/*}*/

