body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: darkgreen;
}

.community_cards{
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}
.buttons{
    display: inline-block;
}
.feedback{
    display: inline-block;
    font-size: 1.25em;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

/*styling for chip*/
.chip{
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 100%;
    background-color: red;
    border: 12px dotted white;
    margin: 5px;
    box-shadow: 2px 2px 1px black;
}
.chip::after {
    content: '';
    position: absolute;   
    background: black;
    border-radius: 100%;
    z-index: -1;
}
.chip .inner{
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    white-space: nowrap;
}
.chip:hover{
    background-color: blue;
}
#deal, #check{
    font-size: 1.25em;
}
.chip span{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.player .chip .inner{
    font-size: 1em;
}
.player .chip .inner .player_text{
    display: inline-block;
}
.player .chip .inner .player_num{
    display: inline-block;
}


/*height to width ratio of playing card is 3.5 inches to 2.5 inches which is equivalent to 7 to 5*/
/*media size small */
.card{
    position: relative;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 125px;
    height: 175px;
    margin: 0 2px;
    box-shadow: 1px 1px 1px black;
}
.selected{
    /*box-shadow: 1px 1px 1px black, 0 0 3px 3px red;*/
    box-shadow: 0 0 3px 3px yellow;
}


/*inner area for the picture/emblems is 50% the width of the card and 60% the height*/
.top, .bottom{
    position: absolute;
    height: 50px;
    width: 25px;
}
.rank{
    /*display: inline-block;*/
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
    font-size: 1.5em;
}
.suit{
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 0;
}
.red{
    color: #d40000;
}
.black{
    color: black;
}
.top{
    top: 2%;
    left: 2%;
}
.bottom{
    bottom: 2%;
    right: 2%;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.middle{
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    height: 125px;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.middle .large{
    visibility: visible;
}
.middle .small{
    visibility: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.middle .suit{
  position: absolute;
  display: inline-block;
  height: 20px;
  width: 20px;
}


.suit.hearts{
  background-image: url('resources/suits/hearts.png');
  background-size: 100%;
}
.suit.spades{
  background-image: url('resources/suits/spades.png');
  background-size: 100%;
}
.suit.diamonds{
  background-image: url('resources/suits/diamonds.png');
  background-size: 100%;
}
.suit.clubs{
  background-image: url('resources/suits/clubs.png');
  background-size: 100%;
}

/*horizontal placement of suits for cards*/
.col_l{
  left: 3%;
}
.col_m{
  left: 50%;
  transform: translateX(-50%);
}
.col_r{
  right: 3%;
}
/*vertical placement of suits for cards based on a five row format: ace through 7*/
.five_row .row_1{
  top: 4.5%;
}
.five_row .row_2{
  top: 23.25%;
}
.five_row .row_3{
  top: 50%;
  transform: translateY(-50%);
}
.five_row .row_4{
  bottom: 23.25%;
}
.five_row .row_5{
  bottom: 4.5%;
  transform: rotate(180deg)
}
.five_row .row_2.col_m{
    transform: translateX(-50%);
}
.five_row .col_m.row_3{
  transform: translate(-50%,-50%);
}
.five_row .row_4.col_m{
    transform: translateX(-50%) rotate(180deg);
}
.five_row .row_5.col_m{
  transform: translateX(-50%) rotate(180deg);
}
/*vertical placement of suits for cards based on a seven row format: 9 and 10*/
.seven_row .row_1{
  top: 4.5%
}
.seven_row .row_2{
  top: 17%;
}
.seven_row .row_3{
  top: 29.5%
}
.seven_row .row_4{
  top: 42%;
}
.seven_row .row_5{
  bottom: 29.5%;
  transform: rotate(180deg);
}
.seven_row .row_6{
  bottom: 17%;
  transform: translateX(-50%) rotate(180deg);
}
.seven_row .row_7{
  bottom: 4.5%;
  transform: rotate(180deg);
}

.players_cards{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    
}
.player{
    /*width: 50%;
    height: 50%;*/
    width: calc(50% - 10px);
    height: calc(50% - 10px);

    margin: 5px;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
}
/*only for testing*/
.winner{
    background-color: yellow;
}



@media screen and (min-width: 1500px){
    .chip.chip::after{
        top: -13px;
        left: -13px;
        right: -13px;
        bottom: -13px;
    }
}

@media screen and (max-width: 1500px) {
    .card{
        width: 125px;
        height: 175px;
    }
    .chip.chip::after{
        top: -13px;
        left: -13px;
        right: -13px;
        bottom: -13px;
    }
}
@media screen and (max-width: 890px) {
    .player .chip{
        width: 75px;
        height: 75px;
        border-width: 13px;
    }
    .player .chip::after{
        top: -14px;
        left: -14px;
        right: -14px;
        bottom: -14px;
    }
    .player .chip .inner{
        font-size: .75em;
    }
}
@media screen and (max-width: 830px), (max-height: 925px)   {
    .card{
        width: 100px;
        height: 140px;
    }
    .rank{
        font-size: 1em;
    }
    .top .suit, .bottom .suit{
        transform: scale(0.75) translateY(-50%);
        -webkit-transform: scale(0.75) translateY(-50%);
        -ms-transform: scale(0.75) translateY(-50%);
    }
}
@media screen and (max-width: 730px), (max-height: 560px) {
    .card{
        width: 100px;
        height: 140px;
    }
    .player .chip{
        width: 50px;
        height: 50px;
    }
    .player .chip .inner{
        font-size: .65em;
    }
}
@media screen and (max-width: 685px) {
    .card{
        width: 80px;
        height: 112px;
    }   
    .middle{
        width: 40%;
        height: 80%;
    }
    .middle .suit{
        width: 12px;
        height: 12px;
    }
}

/*old*/
/*media query i need to change for screen orientation*/
@media screen and (max-width: 580px), (max-height: 785px) {
    .card{
        width: 50px;
        height: 70px;
    }
    .rank{
        left: 21%;
    }
    .suit{
        transform: scale(0.4);
    }
    .top .suit, .bottom .suit{
        display: none;
    }
    .middle{
        width: 45%;
        height: 50%;
    }
    .middle .large{
        visibility: hidden;
    }
    .middle .small{
        visibility: visible;
    }
    .middle .small.suit{
        width: 20px;
        height: 20px;
    }
    .player .chip .inner{
        font-size: 2em;
    }
    .player .chip .inner .player_text{
        display: none;
    }
}

@media screen and (max-width: 420px){
    .card{
        width: 45px;
        height: 63px;
    }
    .player .chip{
        width: 18px;
        height: 18px;
        border-width: 9px;
    }
    .player .chip::after {
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
    }
    .player .chip span{
        font-size: 2em;
        font-weight: bold;
    }
}