/*styling for chip*/
.chip{
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 100%;
    background-color: red;
    border: 9px dashed white;
    margin: 5px;
    box-shadow: 4px 4px 1px #3b0000;
    box-sizing: border-box;
    &::after{
        content: '';
        position: absolute;   
        background: black;
        border-radius: 100%;
        z-index: -1;
    }
    &:hover{
        background-color: blue;
        box-shadow: 4px 4px 1px #00003b;
    }
    .inner{
        position: absolute;
        width: 50%;
        height: 50%;
        border-radius: 100%;
        background-color: white;
        padding: 10px;
        border: 1px solid black;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        white-space: nowrap;
    }
    span{
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.player{
    .chip{
        .inner{
            font-size: 1em;
            .player_num, .player_text{
                display: inline-block;
            }
        }
    }
}

// media queries affecting chips
@media screen and (min-width: 1500px){
    .chip::after{
        top: -11px;
        left: -11px;
        right: -11px;
        bottom: -11px;
    }
}
@media screen and (max-width: 1500px) {
    .chip::after{
        top: -11px;
        left: -11px;
        right: -11px;
        bottom: -11px;
    }
}
@media screen and (max-width: 890px) {
    .player .chip{
        width: 75px;
        height: 75px;
        border-width: 6px;
        box-shadow: 3px 3px 1px #3b0000;
        &::after{
            top: -8px;
            left: -8px;
            right: -8px;
            bottom: -8px;
        }
        &:hover{
            box-shadow: 3px 3px 1px #00003b;
        }
        .inner{
            font-size: .75em;
        }
    }
}
@media screen and (max-width: 730px), (max-height: 560px) {
    .player .chip{
        width: 50px;
        height: 50px;
        &::after{
            top: -7px;
            left: -7px;
            right: -7px;
            bottom: -7px;
        }
        .inner{
            font-size: .65em;
        }
    }
    
}